.image-card-wrapper {
    border: 1px solid var(--light-grey);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    overflow: hidden;
    z-index: 0;
    width: 330px;
}
.image-card-img {
    width: 100%;
    height: auto;
    display: block;
}
.info-wrapper {
    padding: 14px 0;
}
.info-title,
.info-subtitle,
.info-subtitle-content {
    margin: 0;
}
.info-title {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 7px;
    font-size: 1em;
    font-weight: 500;
    padding: 0 14px 14px 14px;
}
.info-subtitle {
    font-weight: 400;
    font-size: 0.8em;
    color: #333;
}
.info-subtitle-content a {
    color: #000;
}
.info-subtitle-content a:hover {
    opacity: 0.7;
}
.info-content {
    padding: 0 14px;
}