.media-page {
    width: 100%;
}
.media-page-content {
    width: 100%;
}
.media-page-content-wrapper {
    max-width: 1400px;
    width: 100%;
    padding: 30px 40px;
}
.video-list,
.backdrop-list,
.poster-list {
    width: 100%;
}
.backdrop-list,
.poster-list {
    flex: 1 1 calc(33.333% - 10px)
}