.header {
	padding: 1rem 2rem;
	background-color: #0d253f;
	color: #fff;
}
.header-container {
	width: 100%;
	max-width: 1400px;
}
.header-logo-container {
	height: 24px;
}
.header-logo-container a {
	height: 100%;
	text-decoration: none;
	align-items: flex-start;
}
.header-logo-image {
	height: 100%;
	padding-top: 2px;
	margin-right: 5px;
}
.header-logo-text {
	background: linear-gradient(to right, #90cea1, #01b4e4);
	-webkit-background-clip: text; /* For WebKit browsers */
	-webkit-text-fill-color: transparent; /* Makes text transparent so gradient shows */
	background-clip: text; /* For Firefox */
	color: transparent; /* Fallback for other browsers */
	font-weight: 900;
	font-size: 1.5em;
	line-height: 24px;
}

.nav a {
	margin-left: 1rem;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}

.nav a:hover {
	text-decoration: underline;
}
