/* ==========================
   CONTENT / CARD BASE
   ========================== */

.content-block > h3 {
	font-weight: 600;
	font-size: 1.4em;
	margin: 0;
	padding-left: 10px;
}
.horizontal-scroll-container {
	display: flex;
	overflow-x: auto;
	gap: 15px;
	padding: 10px;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory;
}

/* --- Card --- */
.card {
	height: 100%;
	flex-shrink: 0;
	border-radius: 8px;
	cursor: pointer;
	overflow: hidden;
	position: relative;
	color: var(--text-main);
	background: linear-gradient(145deg, #e6e6e6 0%, #c0c0c0 25%, #f5f5f5 50%, #bfbfbf 75%, #e0e0e0 100%);
	box-shadow: inset 0 2px 6px var(--text-light), inset 0 -2px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	text-decoration: none;
}

/* --- Card Hover Effect --- */
.card:hover {
	transform: scale(1.05);
}

/* --- Card Image --- */
.card-image-wrapper {
	height: 300px;
}

/* --- Card Title --- */
.card-title {
	margin: 0.5rem;
	font-weight: 600;
	text-align: center;
	flex-shrink: 0;

	display: -webkit-box;
	-webkit-line-clamp: 2; /* maximum 2 lines */
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* --- Shine Effect --- */
.card::after {
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
	background: linear-gradient(120deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 60%);
	transform: rotate(25deg);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.card:hover::after {
	opacity: 1;
	animation: shine 1s forwards;
}

@keyframes shine {
	0% {
		transform: rotate(25deg) translateX(-100%);
	}
	100% {
		transform: rotate(25deg) translateX(100%);
	}
}

/* --- Card Size modifiers --- */
.card-small {
	min-width: 150px;
	width: 150px;
}
.card-medium {
	min-width: 200px;
	width: 200px;
}
