/* Dark overlay */
.background-overlay {
  position: absolute;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  background-color: rgba(0, 0, 0, 0.5); /* adjust opacity */
  pointer-events: none; /* allows clicking through */
  z-index: 0;
}

/* Ensure content is above overlay */
.latest-trailer-section > section {
  position: relative;
  z-index: 1;
}

.latest-trailers {
    color: #fff;
    padding-top: 30px;
}

.latest-trailers-title {
    font-weight: 600;
    font-size: 1.4em;
    margin: 0;
    padding-left: 10px;
}

.trailer-grid {
    display: flex;
    overflow-x: auto;
    gap: 25px;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.trailer-card {
    min-width: 300px;
    width: 300px;
    text-align: center;
}

.trailer-card-backdrop {
    display: block;
    position: relative;
    transition: transform 0.3s ease;
}

.trailer-card-backdrop:hover {
    transform: scale(1.05);
}

.trailer-card img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    object-fit: cover;
}

.trailer-card-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
    width: 80px;
    height: 80px;
    z-index: 10;
}

.trailer-card-play svg {
    fill: white;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
}

.fallback-image {
    width: 100%;
    height: 100px;
    background-color: #444;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.trailer-card-title {
    font-size: 1.2em;
    width: 100%;
    margin: 10px 0 0;
}

.trailer-card-subtitle {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
}