/* ==========================
   MEDIA BLOCK
   ========================== */

.media-tabs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.media-block-menu {
	display: flex;
	align-items: center;
	width: 100%;
	line-height: 30px;
	margin-bottom: 10px;
}
.media-block-menu h3 {
	margin: 0;
}
.media-menu-list {
	display: flex;
	margin: 0 0 0 50px;
	padding: 0;
	list-style: none;
}
.media-menu-list li {
	padding-right: 20px;
}
.media-menu-list button {
	font-size: 1em;
	padding: 5px 10px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}
.media-menu-list button.is-active {
	background-color: rgb(0, 0, 0);
	color: #fff;
}
.media-view-all {
	color: var(--light-blue);
	text-decoration: none;
	font-size: 0.9em;
	font-weight: 600;
}

/* Video card */
.horizontal-scroll-container .video-card {
	min-width: 533px;
	width: 533px;
	min-height: 300px;
	height: 300px;
	flex: 0 0 auto;
	border-radius: var(--border-radius);
	position: relative;
}
.video-card-wrapper {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	position: relative;
}
.video-card .play-icon {
	display: block;
	background: url('../../../components/icons/PlayIcon.svg') no-repeat center center;
	background-size: contain;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90px;
	height: 90px;
	border-radius: 50%;
	border: 1px solid #fff;
}
/* Backdrops & posters */
.media-backdrop-image,
.media-poster-image {
	min-height: 300px;
	height: 300px;
}
.media-backdrop-image {
	min-width: 350px;
}