/* ==========================
   REVIEWS BLOCK
   ========================== */

.reviews-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
.review-card {
	height: auto;
	width: 100%;
	padding: 20px;
	margin: 10px 0 0 10px;
	border: 1px solid var(--light-grey);
	border-radius: var(--border-radius);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.review-header {
	display: flex;
	align-items: center;
}
.review-author {
	font-size: 1.3em;
	line-height: 1em;
	font-weight: 700;
	margin: 0;
}
.review-author-avatar {
	width: 48px;
	height: 48px;
	margin-right: 16px;
	border-radius: var(--border-radius);
	overflow: hidden;
}
.review-date {
	font-weight: 300;
	font-size: 0.9em;
}
.review-rating {
	margin-right: 20px;
}
.review-content {
	padding-top: 20px;
	font-size: 1em;
}
.review-content-link,
.review-read-all-link,
.full-cast-link {
	color: #000;
}
.review-content-link:hover,
.review-read-all-link:hover,
.full-cast-link:hover {
	color: rgba(0, 0, 0, 0.5);
}
.review-content-link {
	margin-left: 5px;
}
.review-read-all-link,
.full-cast-link {
	font-weight: 600;
	font-size: 1.1em;
	text-decoration: none;
}
.review-read-all,
.full-cast {
	padding-left: 10px;
	margin-top: 20px;
}