body {
	margin: 0;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1rem;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body * {
	box-sizing: border-box;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
	line-height: 1.5;
}

/* ==========================
   VARIABLES
   ========================== */

:root {
	--border-radius: 8px;
	--card-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	--text-main: #111;
	--text-light: rgba(255, 255, 255, 0.8);
	--light-grey: rgb(227, 227, 227);
}

/* ==========================
   FLEX UTILITY CLASSES
   ========================== */

.flex {
	display: flex;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.justify-between {
	justify-content: space-between;
}
.flex-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}
.gap-10 {
	gap: 10px;
}
.gap-20 {
	gap: 20px;
}
.gap-30 {
	gap: 30px;
}

/* ==========================
   "sr-only" class visually hides an element while keeping it accessible 
   to screen readers. It is used for headings or labels that provide 
   context for assistive technologies but should not be visible 
   in the UI.
   ========================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}